.header {
    text-align: center;
    background-color:cornflowerblue;
    
  }
  .contact {
    background-color:cornflowerblue;
  }
  
  .about-me {
    font-size: 20px
    
  }
  .title {
    background-color:blue;
    font-weight: bold;
    color: yellow;
    border-radius: 05%;
    
  }
  h1 {
    color: azure;
  }
  body {
    font-family: georgia;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
  }