header {
    text-align: center;
    background-color:cornflowerblue;
    
  }
  nav {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover {
    background: #ddd;
    color: black;
}
  .contact {
    background-color:cornflowerblue;
  }
  
  .about-me {
    font-size: 20px
    
  }
  .title {
    background-color:blue;
    font-weight: bold;
    color: yellow;
    border-radius: 05%;
    
  }
  h1 {
    color: azure;
  }
  body {
    font-family: georgia;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.allwhitebackground.com%2Fimages%2F5%2FOrange-Background-Free-Image.png&f=1&nofb=1");
    
    
  }

  img {
    width: 375px;
    height: 375px;
    box-shadow: 10px 5px 5px white;
    margin-top: 35px;
  }

  

  @media only screen and (max-width: 500px){
   img {
     margin-top:90px;
   }

  }

  @media only screen and (max-width: 680px){
  img {
    width: 75%;
    height: 75%
  }

  }
  @media only screen and (max-width: 268px){
    img {
      margin-top:170px;
      width: 100%;
    }
 
   }